body {
    text-align: center;
    text-decoration: overline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* background: black; */
}

.container {
    border: 5px solid grey;
    width: 400px;
    height: 400px;
    margin: auto;
    border-radius: 100%;
    display: flex;
    align-items: center;
    
}

.small_container {
    /* border: 5px solid grey; */
    width: 380px;
    height: 380px;
    margin: auto;
    border-radius: 100%;
    background-image: linear-gradient(grey, transparent);
    animation: spin 2s 3s ease infinite;
    display: flex;
    align-items: center;
}

.timer {
    border: 5px solid rgb(158, 156, 156);
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 100%;
    background-color: rgb(158, 156, 156);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}