body {
    text-align: center;
    text-decoration: overline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background:linear-gradient(to right, lightgrey 0%, lightgrey 1%, rgb(224, 224, 224) 26%, rgb(239, 239, 239) 48%, rgb(217, 217, 217) 75%, rgb(188, 188, 188) 100%);
}

.container {
    background: linear-gradient(to bottom, black 1%, transparent 99%);
    border: 2px solid black;
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 100%;
    animation: spin 2s 3s ease infinite;

}

.small-container {
    position: relative;
    top: -182px;
    width: 160px;
    height: 160px;
    margin: auto;
    border-radius: 100%;
    background-color: #e5e7e5;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 800;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}